---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Juri Lorenz's About" 
  seoTitle="About Juri Lorenz, App Developer"
  seoDesc={"Hi there! My name is Juri Lorenz and I'm an app developer " +
    "with over 5 years of experience in the industry."}
>
<div class="w-10/12 md:w-6/12 mx-auto">
  <h1 class="text-5xl text-center">About</h1>
  <div class="my-4 flex justify-center">
      <div class="rounded-full border-4 border-gray-400 p-1 shadow-md drop-shadow-[10px_10px_35px_rgba(135,206,250,0.6)]">
          <img src="/images/about.png" 
          class="rounded-full w-40 h-40 md:w-48 md:h-48 object-cover" 
          alt="Juri Lorenz" />
      </div>
  </div>
  <p class="mt-4 text-center">
    Hello! My name is Juri Lorenz, and I am a dedicated app developer with a passion for building innovative and user-friendly applications. 
    With over 5 years of experience in the mobile and web development industry, I specialize in creating Android and iOS apps that meet user needs 
    while ensuring high performance and modern design.
  </p>
  <p class="mt-2 text-center">
    My journey into the world of development started with a love for coding and technology. Over the years, I have honed my skills in Android, iOS, 
    React, and Firebase, while also exploring new technologies like Machine Learning and Next.js. I enjoy solving complex problems, 
    whether it's optimizing the user experience or making an app more efficient.
  </p>
  <p class="mt-2 text-center">
    When I'm not coding, you can find me exploring the latest tech trends, working on personal projects, or learning new programming languages. 
    Feel free to get in touch with me to discuss potential collaborations or any exciting project ideas you have in mind!
  </p>
</div>

</MainLayout>