---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Privacy Notice - Juri Lorenz" 
  seoTitle="Privacy Notice" 
  seoDesc="Privacy Notice for Juri Lorenz"
>
  <!-- Gradient Background -->
  <div class="min-h-screen bg-gradient-to-b from-[#090a1a] to-[#290065] text-white flex flex-col items-center justify-center">
    
    <!-- Title -->
    <h1 class="pb-4 text-4xl md:text-5xl font-bold drop-shadow-lg mt-8 md:mt-4">
      Privacy Notice
    </h1>

    <!-- Content Section -->
    <div class="w-10/12 md:w-8/12 lg:w-6/12 mx-auto mb-10 mt-8 text-gray-300">
      <h3 id="m716" class="text-2xl font-bold mt-4">Preamble</h3>
      <p class="mt-4">With the following privacy notice, we would like to inform you about what types of your personal data (hereinafter also referred to simply as "data") we process, for what purposes, and to what extent. This privacy notice applies to all personal data processing activities carried out by us, both within the scope of providing our services and especially on our websites, in mobile applications, and within external online presences, such as our social media profiles (hereinafter collectively referred to as "online offering").</p>
      <p class="mt-4">The terms used are not gender-specific.</p>
      <p class="mt-4">Status: March 7, 2023</p>

      <!-- Table of Contents -->
      <h3 class="text-2xl font-bold mt-8">Table of Contents</h3>
      <ul class="list-disc list-inside mt-4">
        <li><a class="underline hover:text-[#6d87d1]" href="#m716">Preamble</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m3">Responsible Entity</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#mOverview">Overview of Data Processing</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m13">Legal Bases</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m27">Security Measures</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m25">Transmission of Personal Data</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m24">Data Processing in Third Countries</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m12">Deletion of Data</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m136">Social Media Presences</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m15">Amendments and Updates</a></li>
        <li><a class="underline hover:text-[#6d87d1]" href="#m10">Rights of Affected Persons</a></li>
      </ul>

      <!-- Responsible Entity -->
      <h3 id="m3" class="text-2xl font-bold mt-8">Responsible Entity</h3>
      <p class="mt-4">Juri Lorenz</p>
      <p>Constanze-Hallgarten Str. 40</p>
      <p>81379 Munich, Germany</p>
      <p class="mt-4">Email: <a href="mailto:yuriylorenz@gmail.com" class="underline hover:text-[#6d87d1]">yuriylorenz@gmail.com</a></p>

      <!-- Overview of Data Processing -->
      <h3 id="mOverview" class="text-2xl font-bold mt-8">Overview of Data Processing</h3>
      <p class="mt-4">The following provides an overview of the types of data processed, the purposes for which they are processed, and the persons affected by the processing.</p>

      <h3 class="text-xl font-bold mt-4">Types of Processed Data</h3>
      <ul class="list-disc list-inside mt-2">
        <li>Contact data.</li>
        <li>Content data.</li>
        <li>Usage data.</li>
        <li>Meta, communication, and procedural data.</li>
      </ul>

      <h3 class="text-xl font-bold mt-4">Categories of Affected Persons</h3>
      <ul class="list-disc list-inside mt-2">
        <li>Users.</li>
      </ul>

      <h3 class="text-xl font-bold mt-4">Purposes of Processing</h3>
      <ul class="list-disc list-inside mt-2">
        <li>Contact requests and communication.</li>
        <li>Feedback.</li>
        <li>Marketing.</li>
      </ul>

        <!-- Contact Form Section -->
  <h3 class="text-2xl font-bold mt-8">Contact Form</h3>
  <p class="mt-4">
    If you send us inquiries via the contact form, your details from the inquiry form, including the contact details you provide, will be stored by us for the purpose of processing the request and in case of follow-up questions. We will not share this data without your consent.
  </p>
  <p class="mt-4">
    The data entered into the contact form will be processed exclusively on the basis of your consent (Art. 6 para. 1 lit. a GDPR). You can withdraw this consent at any time by sending us an informal email message. The legality of the data processing operations carried out up to the point of revocation remains unaffected by the revocation.
  </p>
  <p class="mt-4">
    The data you enter in the contact form will remain with us until you request its deletion, revoke your consent to storage, or the purpose for data storage no longer applies (e.g., after your request has been processed). Mandatory legal provisions — in particular, retention periods — remain unaffected.
  </p>

      <!-- Newly Translated Section Starts Here -->
      <h3 id="m13" class="text-2xl font-bold mt-8">Relevant Legal Bases</h3>
      <p class="mt-4">Below is an overview of the legal bases of the GDPR on which we base the processing of personal data. Please note that in addition to the GDPR, national data protection regulations may apply in your or our country of residence. If more specific legal bases are applicable in individual cases, we will inform you of them in this privacy notice.</p>

      <ul class="list-disc list-inside mt-4">
        <li><strong>Legitimate Interests (Art. 6(1)(1)(f) GDPR)</strong> - The processing is necessary to safeguard the legitimate interests of the controller or a third party, provided that such interests are not overridden by the interests or fundamental rights and freedoms of the data subject, which require the protection of personal data.</li>
      </ul>

      <p class="mt-4">In addition to the GDPR regulations, national data protection laws in Germany apply. This includes, in particular, the law on the protection against misuse of personal data during data processing (Federal Data Protection Act – BDSG). The BDSG contains special rules on the right to information, the right to erasure, the right to object, the processing of special categories of personal data, processing for other purposes, transmission, and automated decision-making in individual cases, including profiling. It also regulates data processing for employment purposes (§ 26 BDSG), particularly regarding the establishment, performance, or termination of employment relationships and the consent of employees. Additionally, data protection laws of the individual federal states may apply.</p>

      <h2 id="m27" class="text-2xl font-bold mt-8">Security Measures</h2>
      <p class="mt-4">We take appropriate technical and organizational measures in accordance with legal requirements, taking into account the state of the art, implementation costs, and the nature, scope, circumstances, and purposes of the processing, as well as the varying probabilities and severity of risks to the rights and freedoms of natural persons, to ensure an adequate level of protection.</p>

      <p class="mt-4">These measures include, in particular, ensuring the confidentiality, integrity, and availability of data by controlling both physical and electronic access to the data as well as their related access, entry, transfer, availability, and separation. We have also established procedures to ensure the exercise of data subjects' rights, the deletion of data, and reactions to threats to the data. Furthermore, we consider the protection of personal data in the development or selection of hardware, software, and procedures, in accordance with the principle of data protection by design and by default.</p>

      <h2 id="m25" class="text-2xl font-bold mt-8">Transmission of Personal Data</h2>
      <p class="mt-4">As part of our processing of personal data, it may happen that the data is transmitted to other entities, companies, legally independent organizational units, or persons, or disclosed to them. Recipients of this data may include IT service providers or providers of services and content integrated into a website. In such cases, we comply with legal requirements and conclude corresponding contracts or agreements with the recipients of your data to protect your data.</p>

      <h2 id="m24" class="text-2xl font-bold mt-8">Data Processing in Third Countries</h2>
      <p class="mt-4">If we process data in a third country (i.e., outside the European Union (EU) or the European Economic Area (EEA)) or if the processing takes place within the framework of the use of services from third parties or the disclosure or transmission of data to other persons, entities, or companies, this will only take place in accordance with legal requirements.</p>

      <p class="mt-4">Unless expressly consented to or legally or contractually required, we only process or allow the data to be processed in third countries with an acknowledged level of data protection, contractual obligation through so-called standard protection clauses of the EU Commission, existing certifications, or binding internal data protection regulations (Art. 44 to 49 GDPR, EU Commission's information page: <a href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_en" target="_blank">https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_en</a>).</p>

      <h3 id="m12" class="text-2xl font-bold mt-8">Deletion of Data</h3>
      <p class="mt-4">The data we process will be deleted in accordance with legal requirements as soon as the consents permitting the processing are revoked or other permissions no longer apply (e.g., if the purpose for which the data was processed no longer applies or the data is no longer necessary for this purpose). If the data is not deleted because it is required for other and legally permissible purposes, its processing will be restricted. This means the data will be blocked and not processed for other purposes. This applies, for example, to data that must be retained for commercial or tax law reasons or data stored for the assertion, exercise, or defense of legal claims or to protect the rights of another natural or legal person.</p>

      <p class="mt-4">Our data protection notices may also contain further information on the retention and deletion of data that take precedence for the respective processing operations.</p>

      <h2 id="m136" class="text-2xl font-bold mt-8">Social Media Presences</h2>
      <p class="mt-4">We maintain online presences within social networks and process the data of users in this context to communicate with users who are active there or to offer information about us.</p>

      <p class="mt-4">We would like to point out that data from users can be processed outside the territory of the European Union. This may pose risks for users, as, for example, the enforcement of users' rights may be more difficult.</p>

      <p class="mt-4">Furthermore, users' data is generally processed for market research and advertising purposes within social networks. For example, user behavior and the resulting interests of users can be used to create usage profiles. These usage profiles can, in turn, be used to place advertisements within and outside the networks that are presumed to match users' interests. For these purposes, cookies are usually stored on the users' devices, where the users' usage behavior and interests are stored. Additionally, data may also be stored in the usage profiles independently of the devices used by the users (especially if the users are members of the respective platforms and are logged in).</p>

      <p class="mt-4">For a detailed presentation of the respective processing operations and opt-out options, please refer to the privacy policies and information provided by the operators of the respective networks.</p>

      <p class="mt-4">In the case of requests for information and the assertion of data subject rights, we would like to point out that these are best asserted with the providers. Only the providers have access to the users' data and can take appropriate measures and provide information directly. Should you nevertheless need help, you can contact us.</p>

      <ul class="m-elements list-disc list-inside mt-4">
        <li><strong>Processed Data Types:</strong> Contact data (e.g., email, phone numbers); content data (e.g., input in online forms); usage data (e.g., websites visited, interest in content, access times); meta, communication, and procedural data (e.g., IP addresses, time details, identification numbers, consent status).</li>
        <li><strong>Affected Persons:</strong> Users (e.g., website visitors, users of online services).</li>
        <li><strong>Purposes of Processing:</strong> Contact requests and communication; feedback (e.g., collecting feedback via online forms); marketing.</li>
        <li><strong>Legal Basis:</strong> Legitimate Interests (Art. 6(1)(1)(f) GDPR).</li>
      </ul>

      <p class="mt-4"><strong>Further information on processing procedures, methods, and services:</strong></p>

      <ul class="m-elements list-disc list-inside mt-4">
        <li><strong>GitHub:</strong> Online platform for hosting and collaboration on software development projects; <strong>Service provider:</strong> GitHub, Inc., 88 Colin P. Kelly Jr. Street, San Francisco, CA 94107, USA; <strong>Legal Basis:</strong> Legitimate Interests (Art. 6(1)(1)(f) GDPR); <strong>Website:</strong> <a href="https://github.com" target="_blank">https://github.com</a>; <strong>Privacy Policy:</strong> <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank">https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement</a>; <strong>Data Processing Agreement:</strong> <a href="https://github.com/github/data-protection-addendum" target="_blank">https://github.com/github/data-protection-addendum</a>; <strong>Standard Contractual Clauses (Ensuring data protection level for processing in third countries):</strong> <a href="https://docs.github.com/en/site-policy/privacy-policies/github-data-protection-addendum" target="_blank">https://docs.github.com/en/site-policy/privacy-policies/github-data-protection-addendum</a>; <strong>Opt-Out Option:</strong> <a href="https://github.com/settings/emails" target="_blank">https://github.com/settings/emails</a>.</li>
        <li><strong>LinkedIn:</strong> Social network; <strong>Service provider:</strong> LinkedIn Ireland Unlimited Company, Wilton Plaza Wilton Place, Dublin 2, Ireland; <strong>Legal Basis:</strong> Legitimate Interests (Art. 6(1)(1)(f) GDPR); <strong>Website:</strong> <a href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>; <strong>Privacy Policy:</strong> <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>Data Processing Agreement:</strong> <a href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>; <strong>Standard Contractual Clauses (Ensuring data protection level for processing in third countries):</strong> <a href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>; <strong>Opt-Out Option:</strong> <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out" target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.</li>
        <li>Google Maps:
          This site uses the Google Maps map service via an API. The provider is Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
          
          To use the functions of Google Maps, it is necessary to save your IP address. This information is usually transferred to a Google server in the USA and stored there. The provider of this site has no influence on this data transfer.
          
          Google Maps is used in the interest of an attractive presentation of our online offers and to make it easy to find the locations we have specified on the website. This represents a legitimate interest within the meaning of Art. 6 para. 1 lit. f DSGVO.
          
          More information on handling user data can be found in Google's privacy policy: https://www.google.de/intl/de/policies/privacy/.</li>
        <h2 id="m15">Amendment and Update of the Privacy Policy</h2>
        <p>We ask you to regularly inform yourself about the content of our privacy policy. We adapt the privacy policy as soon as the changes in the data processing we carry out make this necessary. We will inform you as soon as changes require your cooperation (e.g., consent) or other individual notification.</p>
        
        <p>If we provide addresses and contact information of companies and organizations in this privacy policy, please note that the addresses may change over time and ask that you check the information before contacting us.</p>
        
        <h2 id="m10">Rights of Affected Persons</h2>
        <p>As a data subject, you have various rights under the GDPR, which arise in particular from Articles 15 to 21 GDPR:</p>
        
        <ul class="list-disc list-inside mt-4">
          <li><strong>Right to Object:</strong> You have the right, for reasons arising from your particular situation, to object at any time to the processing of your personal data, which is based on Article 6(1)(e) or (f) GDPR; this also applies to profiling based on these provisions. If your personal data is processed for direct marketing purposes, you have the right to object at any time to the processing of your personal data for such marketing, including profiling, insofar as it is related to such direct marketing.</li>
          <li><strong>Right to Withdraw Consent:</strong> You have the right to revoke consents given at any time.</li>
          <li><strong>Right of Access:</strong> You have the right to request confirmation as to whether personal data concerning you is being processed, to obtain information about this data, and to receive further information and a copy of the data in accordance with the legal requirements.</li>
          <li><strong>Right to Rectification:</strong> You have the right to request the completion of data concerning you or the correction of incorrect data concerning you in accordance with the legal requirements.</li>
          <li><strong>Right to Erasure and Restriction of Processing:</strong> In accordance with the legal provisions, you have the right to request that data concerning you be deleted immediately, or alternatively, in accordance with the legal provisions, to request a restriction of the processing of the data.</li>
          <li><strong>Right to Data Portability:</strong> You have the right to receive the data concerning you, which you have provided to us, in a structured, commonly used, and machine-readable format, in accordance with the legal provisions, or to request its transfer to another controller.</li>
          <li><strong>Complaint to Supervisory Authority:</strong> You have the right to file a complaint with a supervisory authority, particularly in the Member State of your residence, place of work, or location of the alleged violation, if you believe that the processing of personal data concerning you violates the GDPR.</li>
        </ul>
        
        <p class="seal"><a href="https://datenschutz-generator.de/" title="Legal text by Dr. Schwenke - click for more information." target="_blank" rel="noopener noreferrer nofollow"></a></p>
        
    </div>
  </div>
</MainLayout>

<style>
  body {
    font-family: 'Inter', sans-serif;
  }

  /* Add subtle shadow */
  .shadow-sm {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Soft, small shadow */
  }

  .hover\:shadow-md:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }

  /* Adjust margins for mobile */
  @media (max-width: 768px) {
    h1 {
      margin-top: 2rem;
    }
  }
</style>