---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Juri Lorenz's Projects" 
  seoTitle="Projects in Web, iOS, and Startup" 
  seoDesc="Innovative projects covering Web Development, iOS Development, and Startups"
>

  <!-- Gradient Background -->
  <div class="min-h-screen bg-gradient-to-b from-[#090a1a] to-[#290065] text-white">

    <!-- Title -->
    <h1 class="text-center text-4xl md:text-5xl font-bold drop-shadow-lg my-8">
      My Projects
    </h1>

    <!-- Section 1: Web Development -->
    <section class="mb-12">
      <h2 class="text-center text-2xl md:text-3xl font-bold text-gray-300 drop-shadow-lg mb-6">Crafting the Web</h2>
      <div class="grid md:grid-cols-2 gap-4 w-10/12 mx-auto">
        <!-- Project 1 -->
        <a href="/projects/1" class="bg-[#0b0e19] p-6 rounded-lg shadow-md border border-gray-700 transition hover:shadow-lg flex flex-col items-center">
          <img class="rounded shadow-md drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)] object-contain w-full h-auto max-h-[50vh]" src="/images/1.png" alt="Astro Gallery"/>
          <h3 class="font-bold my-4 text-xl ">Elegant Artist Portfolio</h3>
          <p class="text-gray-400">A sleek web application for a famous artist, featuring a dynamic gallery, exhibition updates, and mobile-first design. Built with React.js, Tailwind CSS, and Next.js.</p>
        </a>
      </div>
    </section>

    <!-- Section 2: iOS Development -->
    <section class="mb-12">
      <h2 class="text-center text-2xl md:text-3xl font-bold text-gray-300 drop-shadow-lg mb-6">The iOS Experience</h2>
      <div class="grid md:grid-cols-2 gap-4 w-10/12 mx-auto">
        <!-- Project 2 (Moved to iOS) -->
        <a href="/projects/2" class="bg-[#0b0e19] p-6 rounded-lg shadow-md border border-gray-700 transition hover:shadow-lg flex flex-col items-center">
          <img class="rounded shadow-md drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)] object-contain w-full h-auto max-h-[50vh]" src="/images/2.png" alt="React Portfolio"/>
          <h3 class="font-bold my-4 text-xl">ROOM Planetarium</h3>
          <p class="text-gray-400">A Stellar Experience on iOS with Augmented Reality.</p>
        </a>

        <!-- Project 3 -->
        <a href="/projects/3" class="bg-[#0b0e19] p-6 rounded-lg shadow-md border border-gray-700 transition hover:shadow-lg flex flex-col items-center">
<img class="rounded shadow-md drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)] object-contain w-full h-auto max-h-[50vh]" src="/images/3.png" alt="Mobile App"/>          
<h3 class="font-bold my-4 text-xl">Mobile iOS Native App</h3>
          <p class="text-gray-400">Exciting Action-Packed Calculator for iOS.</p>
        </a>
      </div>
    </section>

    <!-- Section 3: My Startup -->
    <section class="mb-12">
      <h2 class="text-center text-2xl md:text-3xl font-bold text-gray-300 drop-shadow-lg mb-6">Startup Founder</h2>
      <div class="grid md:grid-cols-2 gap-4 w-10/12 mx-auto">
        <!-- Project 4 -->
        <a href="/projects/4" class="bg-[#0b0e19] p-6 rounded-lg shadow-md border border-gray-700 transition hover:shadow-lg flex flex-col items-center">
          <img class="rounded shadow-md drop-shadow-[0px_-35px_35px_rgba(75,0,130,0.6)] object-contain w-full h-auto max-h-[50vh]" src="/images/4.png" alt="Firebase Integration"/>
          <h3 class="font-bold my-4 text-xl">Online School ProFruket</h3>
          <p class="text-gray-400">As the driving force behind the online school "ProFruket" I took charge of marketing, site launching, implementing SEO strategies and CRM. All this has propelled us to the top of search rankings and enabled us to sale over 1000 online courses.</p>
        </a>
      </div>
    </section>

  </div>
</MainLayout>

<style>
  body {
    font-family: 'Inter', sans-serif;
  }
</style>