---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
  title="Juri Lorenz's Project" 
  seoTitle="Projects with React, Astro" 
  seoDesc="Innovative Projects in Astro, React and Mobile Solutions"
>
  <div class="w-8/12 lg:w6/12 mx-auto">
    <h1 class="text-5xl my-2">Projects</h1>
    <div class="grid md:grid-cols-2 gap-2 shadow-md drop-shadow-[0px_35px_35px_rgba(135,206,250,0.6)]">
      <a href="/projects/1"><img class="rounded" src="/images/1.png" width="300px" height="300px" alt="Project 1"/></a>
      <a href="/projects/2"><img class="rounded" src="/images/2.png" width="300px" height="300px" alt="Project 2"/></a>
      <a href="/projects/3"><img class="rounded" src="/images/3.png" width="300px" height="300px" alt="Project 3"/></a>
      <a href="/projects/4"><img class="rounded" src="/images/4.png" width="300px" height="300px" alt="Project 4"/></a>
    </div>
  </div>
</MainLayout>