---
// This is the Battle Calculator content component
---

<section class="mt-8">
  <h2 class="text-3xl font-bold">Battle Calculator</h2>
  <h3 class="text-2xl mt-4">Declare War on Math!</h3>
  <p class="mt-2 text-gray-300">
    Are you tired of mundane, everyday calculators that lack excitement and engagement? Enter Battle Calculator, the app that brings a thrilling gaming experience to the world of mathematics.
  </p>

  <h3 class="text-2xl mt-8">Key Features:</h3>
  <div class="mt-8">
    <h3 class="text-2xl font-bold text-gray-300">Immersive Sound Effects</h3>
    <p class="mt-2 text-gray-300">
      Each button press comes to life with corresponding sound effects. Feel the adrenaline rush as numbers are accompanied by thrilling shots sounds, and the calculation buttons detonate with an explosion sound!
    </p>
  </div>
  
  <!-- Explosive Visual Effects Section -->
  <div class="mt-8">
    <h3 class="text-2xl font-bold text-gray-300">Explosive Visual Effects</h3>
    <p class="mt-2 text-gray-300">
      Prepare to be blown away when you press the calculation buttons. Watch in awe as a stunning visual effect simulates an explosion, turning your math calculations into an action-packed adventure.
    </p>
  </div>

  <hr class="my-8 border-gray-700" />

  <section>
    <h2 class="text-3xl font-bold">Feel the Sound and Visual Effects</h2>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/axHB2DFny8Y" frameborder="0" allowfullscreen class="mt-4"></iframe>
  </section>

<!-- Buttons Section -->
<div class="mt-12 mb-36 flex flex-col md:flex-row gap-6 justify-center">
  
  <!-- GitHub Button on the left -->
  <a href="https://github.com/jurilorenz/BattleCalculator" class="bg-white text-[#090a1a] font-bold py-3 px-8 rounded-full shadow-lg hover:bg-gray-200 transition-all">
    Check Project on GitHub
  </a>

  <!-- Back to Projects Button on the right -->
  <a href="/projects" class="bg-[#1f1235] text-white font-bold py-3 px-8 rounded-full border-2 border-[#6d87d1] shadow-lg hover:bg-[#6d87d1] hover:text-white transition-all">
    Go Back to Projects
  </a>
</div>
</section>