---
// HeroComponent.astro
---

<!-- Background with gradient -->
<div class="min-h-screen  text-white flex items-center justify-center md:justify-end relative overflow-hidden">
    
  <!-- Image on the left (full-screen) -->
  <div class="absolute inset-0 w-full md:w-1/2 h-full shadow-md drop-shadow-[0px_-35px_35px_rgba(0,0,0,0.6)] md:pt-[14vh] transform translate-y-[-5%] right-0 md:translate-x-0 md:translate-y-0">
    <img src="/images/home-page.png" 
    class="hero-image w-full h-full object-cover object-top opacity-60 md:opacity-100 mask-bottom"
    alt="Juri Lorenz" />
  </div>
  
      <!-- Right-side content -->
      <div class="relative w-full md:w-1/2 flex flex-col items-start p-8 md:p-16 z-10 text-left mt-[22vh] md:mt-0" style="min-height: 70vh;">      
        <div class="md:absolute md:top-[20%] w-full">
        <!-- Title -->
        <h1 class="text-4xl md:text-6xl max-w-2xl font-bold drop-shadow-lg">
          Turbo-Websites für Ihren digitalen Erfolg
        </h1>
  
        <!-- Subtitle with Typing Animation -->
        <div class="text-lg md:text-2xl mt-6 md:mt-12 text-gray-300">
          <div id="typed-strings">
            <p>Websites, die begeistern und konvertieren</p>
            <p>Perfekte Symbiose aus KI und Kreativität</p>
            <p>Entwickelt für maximalen Erfolg und Wachstum</p>
            <p>Über 15 Jahre Insider-Wissen in der Branche</p>
          </div>
          <span id="typed"></span>
        </div>
        
        <!-- List of advantages -->
        <ul class="text-lg md:text-xl mt-6 md:mt-12 text-gray-100 space-y-2">
          <li><i class="fas fa-check text-white mr-4"></i> Rasante Websites mit Wow-Faktor</li>
          <li><i class="fas fa-check text-white mr-4"></i> Fokus auf maximale Konversion</li>
          <li><i class="fas fa-check text-white mr-4"></i> Blade-Edge-Technologien & KI-Power</li>
          <li><i class="fas fa-check text-white mr-4"></i> Über 15 Jahre digitale Expertise</li>
        </ul>

        <!-- Buttons at the bottom-right -->
        <div class="flex flex-col md:flex-row gap-6 mt-12 md:my-16 justify-center md:justify-center items-center md:items-start w-full md:w-auto">
          <!-- Primary Button -->
          <a href="/projects"  class="relative inline-block py-3 px-8 rounded-full font-bold text-center w-full max-w-xs md:max-w-none md:w-auto bg-white text-[#090a1a] shadow-lg transition-all duration-300 ease-in-out hover:shadow-[0_0_20px_rgba(147,112,219,0.8),_0_0_35px_rgba(3,169,244,0.6)] hover:border-[#6d87d1]">
            Projekte erleben
          </a>
        
          <!-- Secondary Button -->
          <a href="/contact" class="bg-[#1f1235] text-white font-bold py-3 px-8 rounded-full border-2 border-[#6d87d1] shadow-lg transition-all duration-300 ease-in-out hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] text-center w-full max-w-xs md:max-w-none md:w-auto">
            Let's Talk
          </a>
        </div>
  
      </div>
  </div>
    </div>

    <script>
      import Typed from "typed.js";
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 50,
        backSpeed: 30,
        loop: true,
      });
    </script>
    
    <style>
    
    .hero-image {
      position: relative;
      z-index: 1;
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
    }
    
      body {
        font-family: 'Inter', sans-serif;
      }
    
    </style>