---
import { SEO } from "astro-seo";
const { title, seoTitle, seoDesc } = Astro.props;
---

<head>
  <SEO title={seoTitle} description={seoDesc} />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>

  <!-- Favicon (PNG) -->
  <link rel="icon" href="/favicon.png" type="image/png">

  <!-- Preconnect to improve font loading -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- Google Fonts (Carlito & Montserrat) -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <!-- Font Awesome Icons -->
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" rel="stylesheet" />
</head>